*
{

    background-color: #f6f8fb;
    padding: 0;
    margin: 0;
}

QPushButton
{
    border: none;
    border-radius: 10px;
    background-color: #76db74;
    color: #ffffff;
    padding-left: 5px;
    padding-right: 5px;
}

QPushButton:hover
{
    background-color: qlineargradient(spread:pad, x1:1, y1:0, x2:1, y2:1, stop:0 rgba(118, 219, 116, 255), stop:0.1 rgba(156, 243, 154, 255), stop:0.1 rgba(156, 243, 154, 255), stop:1 rgba(118, 219, 116, 255));

    font-weight: bolder;
}

QPushButton:pressed
{
    background-color: qlineargradient(spread:pad, x1:1, y1:0, x2:1, y2:1, stop:0 rgba(118, 219, 116, 255), stop:0.113636 rgba(156, 243, 154, 255), stop:0.35 rgba(118, 219, 116, 255), stop:0.65 rgba(118, 219, 116, 255), stop:0.9 rgba(156, 243, 154, 255), stop:1 rgba(118, 219, 116, 255));

    color: #423965;
}

QPushButton:disabled
{
    background-color: #9cf39a;
}

#widgetOpenTables, #widgetTabsPanel, #WidgetInvAnalyze, #splitter,#labelTab, #labelTabs, #label_4, #labelInvCol, #label_3, #widgetMain, #widgetSide
{
    background-color: #f6f8fb;
}

#widgetOpenTables
{

}

#pushButtonShow, #pushButtonMergeFiles, #pushButtonMainMenu
{
    background-color: #423965;
}

#pushButtonShow:hover, #pushButtonMergeFiles:hover, #pushButtonMainMenu:hover
{
    background-color: qlineargradient(spread:pad, x1:1, y1:0, x2:1, y2:0.988636, stop:0 rgba(66, 57, 101, 255), stop:0.113636 rgba(119, 84, 248, 255), stop:0.897727 rgba(119, 84, 248, 255), stop:1 rgba(66, 57, 101, 255));
}

#pushButtonShow:pressed, #pushButtonMergeFiles:pressed, #pushButtonMainMenu:pressed
{
    background-color: qlineargradient(spread:pad, x1:1, y1:0, x2:1, y2:0.988636, stop:0 rgba(66, 57, 101, 255), stop:0.113636 rgba(119, 84, 248, 255), stop:0.346591 rgba(66, 57, 101, 255), stop:0.670455 rgba(66, 57, 101, 255), stop:0.897727 rgba(119, 84, 248, 255), stop:1 rgba(66, 57, 101, 255));
    color: #41a5ff;
}

#pushButtonClearFiles, #pushButtonClearAll, #pushButtonClearItems, #pushButtonClearResult
{
    background-color: #ff5881;
}

#pushButtonClearFiles:hover, #pushButtonClearAll:hover, #pushButtonClearItems:hover, #pushButtonClearResult:hover
{
    background-color: qlineargradient(spread:pad, x1:1, y1:0, x2:1, y2:1, stop:0 rgba(255, 88, 129, 255), stop:0.1 rgba(255, 154, 179, 255), stop:0.9 rgba(255, 154, 179, 255), stop:1 rgba(255, 88, 129, 255));
}

#pushButtonClearFiles:pressed, #pushButtonClearAll:pressed
{
    background-color: qlineargradient(spread:pad, x1:1, y1:0, x2:1, y2:1, stop:0 rgba(255, 88, 129, 255), stop:0.1 rgba(255, 154, 179, 255), stop:0.35 rgba(255, 88, 129, 255), stop:0.65 rgba(255, 88, 129, 255), stop:0.897727 rgba(255, 154, 179, 255), stop:1 rgba(255, 88, 129, 255));
    color: red;
}

#widgetOpenTables
{
/*    border-bottom: 3px solid #C8BAC2;*/
}

#pushButtonHelp
{
/*    margin-left: 5px;*/
    border: 0;
    border-radius: 14px;
    margin: 1px;
}

#labelTabName, #labelInv
{
    background-color: #ffffff;
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

#pushButtonUp, #pushButtonDown
{
/*    background-color: #f6f8fb;*/
    border: 1px solid #F3F3F3;
}

#pushButtonUp
{
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

#pushButtonDown
{
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}

/*
QListWidget
{
    border-radius: 10px;
    background-color: #ffffff;
}
*/

QListWidget QScrollBar
{
    background-color: #60669B;
}

 QListView::item:selected
{
    background-color: #7754f8;
}

QTableWidget, QListWidget
{
    border: 2px solid #60669B;
    padding: 8px;
    border-radius: 10px;
    background-color: #ffffff;
    alternate-background-color: #f6f8fb;
}

QTableWidget QScrollBar
{
    background-color: #60669B;
/*    width: 10px;*/
}

QTableWidget QScrollBar::up-arrow
{
    border-radius: 2px;
}


QScrollBar/*::handle:vertical*/
{
    background-color: #60669B;
    min-height: 25px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
  width: 15px;
}

QScrollBar::sub-line:vertical {
    border: 1px solid grey;
    background-color: rgb(241, 241, 241);
    height: 20px;
    subcontrol-position: top;
    subcontrol-origin: margin;
}

 QTableWidget::item:selected
{
    background-color: #7754f8;
}

QHeaderView
{
 Background:transparent;
}

QHeaderView::section
{
    Color: #FFFFFF;

    Background:#60669B;
    Border: 1px solid #60669B;
    text-align: center; /*  // Alignment of each title (seemingly unusable). It is recommended to use tableWidget->horizontalHeader()->setDefaultAlignment(Qt::AlignLeft | Qt::AlignVCenter)*/

    Min-height: 20px; /* // height of the title area*/
    max-height:20px;
    min-width: 30px;
    text-align: center;
    Margin-left:0px; /* // The margin of each title area*/
    Padding-left: 0px; /* padding for each title area*/
}

QListView QHeaderView::section
{
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

#widgetCodesInfo, #widgetItemInfo, #widgetItemsInfo QLabel
{
    background-color: #60669b;
    border-radius: 10px;
    padding: 2px;
}

#labelFilesNumName, #labelCodesInDocName, #labelCtnsNumName, #labelItemsNumName, #labelOverallItemsName, #labelResult, #labelResultItemsName, #labelResultCodesName
{
    background-color: #60669b;
    color: #ffffff;
    margin-left: 10px;
    margin-right: 10px;
}

#labelFilesNum, #labelCodesInDoc, #widgetItemsInfo  #labelCtnsNum, #widgetItemsInfo #labelItemsNum, #widgetItemsInfo  #labelOverallItems, #widgetItemsInfo #labelResultItems, #widgetItemsInfo #labelResultCodes
{
    background-color: #6c719c;
    color: #ffffff;
    border-radius: 5px;
    margin: 2px;
}


/* Всплывающие окна */
QMessageBox
{
    background-color: #F6F8FB;
}

QMessageBox QPushButton
{
    width: 100px;
    height: 28px;
    background-color: #76db74;
    font-size: 15px;
    font-weight: bold;
}

QMessageBox QLabel
{
    font-size: 20px;
}

QMenu
{
    padding: 5px;
    border: 2px solid #a1a5c8;
    align-content: center;
    text-align: center;
}

QMenu::item
{
    border: 1px solid #a1a5c8;
    background-color: #60669B;
    color: white;
    height: 28px;
    text-align: right;
    width: 140px;
    border-radius: 10px;
    font-size: 15px;
    margin-left: 3px;
    margin-right: 3px;
    margin-top: 1px;
    margin-bottom: 1px;
    padding-left: 20px;
    font-weight: bold;
}

QMenu::item:selected
{
    background-color: #6c719c;
}
